/*-------------- variables ------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk";
  color: black;
}
/*=============================== MAIN ==============================*/
/*====================================================================*/
main{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
main img.bg{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
/*=============================== HEADER ==============================*/
/*====================================================================*/

header, .div_main{
  width: 100%;
  padding: 20px 50px;
  z-index: 2;
}
header, .nav_texte ul, .div_se_connecter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.nav_texte ul{
  list-style: none;
  gap: 20px;
}
.nav_texte .nav_link, .se_connecter, .texte {
  font-size: 18.5px;
  font-weight: 500;
}
/*// Seconnecter //*/
.se_connecter{
  text-decoration: none;
  position: relative;
}
.se_connecter svg{
  width: 18px;
  height: 16px;
}
.se_connecter::before{
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background: black;
  transition: all 0.3s ease;
}
.se_connecter:hover::before{
  width: 50%;
}
.se_connecter:active::before{
  width: 100%;
}
/*=============================== DIV_MAIN ==============================*/
/*====================================================================*/
.div_main{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.div_main div{
  width: 65%;
}
.titre{
  font-size: 4rem;
  font-weight: bold;
}
.titre, .texte{
  margin-bottom: 20px;
}
button{
  font-size: 20px;
  font-weight: 500;
  padding: 20px 70px;
  border-radius: 50px;
  border: 1px solid transparent;
  color: rgb(245, 240, 236);
  background-image: linear-gradient(135deg, rgb(220, 139, 32), rgb(207, 62, 15));
}

/*=============================== NAV BACKGROUND ==============================*/
/*============================================================================*/

nav{
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.div_image{
  background-image: linear-gradient(135deg, rgb(220, 139, 32), rgb(207, 62, 15));
  border-radius: 50px;
  padding: 3px 5px;
}
nav button{
  background: rgb(245, 240, 236);
  color: black;
  padding: 10px 30px;
  margin: 3px;
}

/*-------------------- responsive -----------------*/
@media only screen and (max-width: 1024px) {
  .titre{
    font-size: 3rem;
  }
}
@media only screen and (max-width: 870px){
  button{
    padding: 20px 50px;
  }
  .nav_texte .nav_link, .se_connecter, .texte, button {
    font-size: 15.5px;
    font-weight: 500;
  }
  .div_main div{
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .nav_texte ul{
    display: none;
  }
}
@media only screen and (max-width: 456px) {
  header, .div_main{
    padding: 20px;
  }
  .titre{
    font-size: 2rem;
  }
  button{
    padding: 20px 20px;
  }
  .nav_texte .nav_link, .se_connecter, .texte, button {
    font-size: 13.5px;
  }
}
@media only screen and (max-width: 364px) {
  .titre{
    font-size: 2rem;
  }
  button{
    padding: 10px 10px;
  }
  .nav_texte .nav_link, .se_connecter, .texte{
    font-size: 15.5px;
  }
  nav button{
    padding: 5px 5px;
  }
}

