<main>
<header>
  <div class="logo">
    <img src="assets/Capture.PNG" alt="logo">
  </div>
  <div class="nav_texte">
    <ul>
      <li class="nav_link">Produits</li>
      <li class="nav_link">Fonctionnalites</li>
      <li class="nav_link">Nos boutiques</li>
    </ul>
  </div>
  <div class="div_se_connecter">
    <a href="#" class="se_connecter">Se connecter</a>
  </div>
</header>
  <div class="div_main">
   <div>
     <h1 class="titre">La musique partout,<br>La musique pour tous</h1>
     <p class="texte">Ecouter et partager la musique que vous aimez quand vous le voulez et ou <br>
       que vous soyez meme hors ligne
     </p>
     <button>Integrez la communaute SoundOn</button>
   </div>
  </div>
  <img class="bg" src="assets/JAAVOt48.jpg" alt="image1">
</main>
